header {
  height: 100px; }

.box {
  width: 100px;
  height: 100px;
  color: #ee993f; }
  .box span {
    margin-top: 10px; }
    .box span img {
      width: 100px; }
  .box h1 {
    font-size: 30px; }
    .box h1 .title {
      font-size: 20px; }
      .box h1 .title .h2 {
        font-size: 10px; }

a:hover {
  color: #f20; }

.box2:hover {
  color: #f30; }

.box2:before {
  content: ''; }

.title {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 36px; }

.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

.col_1 {
  width: 10px; }

.box3 {
  font-size: 10px; }

.box3 {
  font-size: 20px; }

.box4 {
  font-size: 20px;
  margin: 40px; }

.box4 {
  font-size: 20px;
  margin: 60px; }

.box4 {
  font-size: 30px; }
