@import 'base/reset';

@mixin marginauto() {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #000000; 
}

.section {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #f20;
}

.section1 {
   
    text-align: center;
    padding-top: 300px;
    .title {
        width:  500px;
        @include marginauto();
        font-size: 50px
    }
    .desc {
      @include marginauto();  
      color: rgb(255, 255, 255);    
    }
    .box {
        width: 500px;
        height: 50px;
        background-color: #f20;
        margin-top: 10px;
    }
}

.section2 {
    .area{
      width:900px;
      height: 600px;
      background-color: blueviolet ;
      @include marginauto();
    }
    .boxs {
        width: 300px;
        height: 50px;
        background-color: #f20;
        margin-top: 10px;
        opacity: 0.8;
    }
    .box01 
    {
        background-color: aqua;
        top: 100px !important;
        left: 200px !important; 
    }

    .box02
    {
        background-color: rgb(50, 201, 12);
        top: 500px !important;
        left: 200px !important; 
    }




}
